body{
    margin: 0;
    padding: 0;
    background-color: #002540;
}
ul{
    padding-inline-start: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
    color: #038dfd;
}
.common_border{
    border: 2px solid rgb(3, 141, 253);
    padding: 5px;
    width: 376px;
    background-color: #000b4096;
    z-index: 10;
    height: 25vh;
    margin-bottom: 20px;
}
.common_topbox{
    display: flex;
}

.common_content{
    width: 100%;
    height: calc(100% - 10px);
}

.common_topbox_title{
    font-size: 12px;
    /* float: left; */
}
.common_topbox_more{
    /* float: left; */
    margin-left: 20px;
    font-size: 12px;
}
.mainmap{
    height: 100vh;
}